@use "src/global";
.number-picker {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  .picker-info {
    min-width: 14em;
    .title {
      font-weight: bold;
    }
    .description {
      font-size: 0.8em;
      color: global.$gray-600;
    }
  }
  .picker {
    display: flex;
    align-items: center;
    button {
      width: 2em;
      height: 2em;
      border: 1px solid global.$black;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0.6;
      &.disabled {
        cursor: no-drop;
        opacity: 0.2 !important;
      }
      &:hover {
        opacity: 1;
      }
    }
    .value {
      margin: 0 1em;
      width: 4em;
      min-width: 10px;
      text-align: center;
      outline: none;
      border: none;
      border-bottom: 1px solid transparent;
      &:focus {
        border-bottom-color: global.$gray-200;
      }
    }
  }
}
