@use "src/global";
.chart-wrapper {
    display: flex;
}

@media (min-width: 1200px) {
    .chart-wrapper {
        height: 340px;
        width: 100% !important;
    }
}

.chart-1-title,
.chart-2-title {
    h5 {
        text-align: center;
        font-family: global.$default-font;
    }
}