.input-update {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    background-color: transparent;
    outline: none;
    padding: 7px 0;
    font-size: 16px;
    transition: all 0.3s;
}

.input-update-readOnly {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    border-bottom-width: 1px;
    background-color: transparent;
    outline: none;
    padding: 7px 0;
    font-size: 16px;
    color: #c9c9c9;
    transition: all 0.3s;
}

.textarea-update {
    font-family: inherit;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 10px;
    width: 100%;
    resize: none;
    text-align: center;
}

.input-label {
    font-size: 12px;
    font-weight: 600;
}

.input-field {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 100%;
    textarea:focus+label,
    input:focus+label {
        color: #4361ee;
    }
    input:focus {
        border-bottom-color: #4361ee;
    }
    textarea:focus {
        outline-color: #4361ee;
    }
}

.input-field-readOnly {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 100%;
    // textarea:focus+label,
    // input:focus+label {
    //     color: #4361ee;
    // }
    // input:focus {
    //     border-bottom-color: #4361ee;
    // }
    // textarea:focus {
    //     outline-color: #4361ee;
    // }
}

.des-input-field {
    padding-top: 10px;
    padding-bottom: 60px;
}

.button-field {
    height: 50px;
    display: flex;
}