@use "src/global";

#hotel {
    
    &.no-scroll {
        height: 0vh;
        overflow-y: hidden;
    }

    &.d-none {
        display: none;
    }

    .left {
        flex-basis: 65%;
        height: 70vh;
    }

    .right {
        flex-basis: 35%;
        
    }
}