@use "src/global";
@mixin scrollbars( $size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: 15px;
    }
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

.history-list {
    // background-color: red;
    height: 100%;
    .header-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    .stat-list-active {
        @include scrollbars(5px, global.$main-color, transparent);
        height: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        .report-element {}
    }
    .stat-list {
        height: 100%;
        overflow-y: hidden;
        scroll-behavior: smooth;
        font-family: global.$default-font;
        .report-element {}
    }
}

.header-select {
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    padding: 0 10px;
    background-color: white;
    text-align: center;
}

.show-btn {
    margin-top: 20px;
    width: 100%;
    background-color: global.$main-color;
    // background-color: white;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 12px;
    color: white;
    border: none;
    font-family: global.$default-font;
    cursor: pointer;
    transition: color 0.2s linear;
    &:hover {
        background-color: global.$main-color;
        border: none;
        color: rgb(164, 157, 228);
    }
}

.hide-btn {
    display: none;
}

// .header-list select {
//     text-align-last: center;
//     // width: 100%;
//     // font-size: 16px;
//     outline: none;
//     // padding: 7px 10px;
//     height: 35px;
//     -webkit-appearance: button;
//     -webkit-border-radius: 2px;
//     // -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
//     appearance: none;
//     -webkit-padding-end: 15px;
//     -webkit-padding-start: 10px;
//     -webkit-padding-before: 10px;
//     -webkit-padding-after: 10px;
//     -webkit-user-select: none;
//     background-image: url(../../../../../../../public/photo/select-arrow.png);
//     background-position: center right;
//     background-size: 10px;
//     background-repeat: no-repeat;
//     border: 0px solid #aaa;
//     color: #555;
//     font-size: inherit;
//     margin: 0;
//     overflow: hidden;
//     padding-top: 2px;
//     padding-bottom: 2px;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }