.photos-container {
    .img-card {
        display: flex;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;
        height: 6em;
        img {
            border-radius: 12px;
            object-fit: contain;
        }
    }
}

.photo-title {
    margin-top: 12px;
    margin-bottom: 10px;
}