@use "src/global";
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 350px;
    padding-top: 50px;
}

@media (max-width: 500px) {
    .container {
        margin-bottom: 90px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        // margin-bottom: 250px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.task1 {
    button {
        font-size: 14px;
        font-family: global.$default-font;
        text-transform: none;
        font-weight: 500;
        color: black;
        padding: 5px 10px;
    }
    button.Mui-selected {
        color: black;
        font-weight: 550;
    }
}

.bank-card {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}