@use 'src/global';

#house-room-type {
    padding-bottom: 3em;
    margin-top: 2em;
    border-bottom: 1px solid global.$gray-200;
    
    .house-room-heading {
        margin-bottom: 1.6em;
        font-size: 1.4em;
        font-weight: bold;
    }

    .house-room-picker {

        .type-item {
            border: 2px solid global.$gray-200;
            border-radius: 1em;
            padding: 1em;
            font-size: 1.2em;
            transition: all 0.2s ease-out;
            cursor: pointer;
            
            &.active {
                border-color: global.$black;
            }
    
            .type-title {
                margin-top: 0.4em;
            }
    
            &:hover:not(.active) {
                border-color: global.$black;
            }
        }
    }

}