@use 'src/global';

.jumbotron {
    background-image: linear-gradient(to right, global.$main-color, rgba(94, 99, 237, 0.9961), rgba(120, 100, 236, 0.9922));
    height: 100%;  
    padding: 10em 4em;
    color: global.$white;
    
    .jumbotron-title {
        font-size: 3em;
        font-weight: bold;
    }

    .jumbotron-description {
        color: global.$gray-100;
    }
}