@use 'src/global';

.input-bar {
    transition: border 0.2s ease;

    &.f-width {
        width: 100%;
    }

    &.error {
        border-color: global.$red !important;
    }

    &.error:focus ~ label {
        color: global.$red;
    }
}