@use "src/global";
.card-title {
    display: flex;
}

.wrap-report {
    margin-top: 30px;
}

.card-wrapper {
    margin-top: 30px;
    width: 60%;
}

.header-title {
    font-family: global.$default-font;
    margin-bottom: 10px;
}

.card {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 15px 20px;
    margin-top: 5px;
    display: flex;
    height: 100%;
    .card-avatar {
        margin-right: 10px;
        .avatar-wrapper {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            img {
                object-fit: cover;
            }
        }
    }
    .card-body {
        width: 100%;
        .card-title {
            width: 100%;
            margin-top: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h4 {
                font-family: global.$default-font;
                margin-right: 5px;
            }
            h6 {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .card-content {
            font-size: 12px;
            p {
                font-family: global.$default-font;
                color: #6a6a6a;
            }
        }
        .card-time {
            margin-top: 2px;
            p {
                font-family: global.$default-font;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 500px) {
    .card-wrapper {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card-wrapper {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .card-wrapper {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .card-wrapper {
        width: 60%;
    }
}