@use "src/global";
@use 'src/static/styles/form';
.form-wrapper {
    padding: 0 1em;
    padding-bottom: 2em;
    position: relative;
    .form {
        @include form.form();
        .input-field {
            @include form.input-field();
        }
        label[for="remember-me"] {
            @include global.vertical-center();
            font-size: 0.9em;
            input[type="checkbox"] {
                font-size: 2em;
                border-radius: 4px;
                margin-right: 0.1em;
                width: 0.6em;
                height: 0.6em;
            }
        }
        .button-wrapper {
            margin-top: 1em;
            text-align: center;
            margin-bottom: 2.5em;
            button {
                @include form.button();
            }
            .sign-in-button {
                @include form.normal-button();
            }
            .google-sign-in-button {
                @include form.googled-button();
            }
            .button-disabled {
                @include form.button-disabled();
            }
        }
        .reset-password-link {
            position: absolute;
            top: 7.55em;
            right: 1.1em;
            font-size: 0.9em;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}