html {
    overflow-x: hidden;
}

.footer {
    background-color: #f0f0f0;
    // width: 100%;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    // margin-top: 110px;
    // margin-left: -300px;
    // margin-right: -300px;
}

.item {
    ul {
        li {
            p {
                font-size: 12px;
            }
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 500px) {
    .support {
        display: none;
    }
    .social {
        border-top: 1px solid transparent !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.item {
    padding-top: 20px;
    h3 {
        font-size: 16px;
    }
    ul li a {
        font-size: 12px;
        text-decoration: none;
        color: #000;
    }
}

.support {
    min-height: 20vh;
}

.social {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #c6c6c6;
    .copyright {
        font-size: 12px;
    }
    .social-icon {
        display: flex;
        p {
            font-size: 12px;
        }
        .icons {
            margin-left: 15px;
            font-size: 12px;
            display: flex;
            align-items: center;
            a {
                color: #606060;
                margin: 0 3px;
            }
        }
    }
}