@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: 15px;
    }
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

.container {
    .header {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        h2 {
            width: 30rem;
        }
        .select-input {
            width: 5rem;
            border-radius: 18px;
            padding: 5px;
            border: 1px solid #ababab;
        }
    }
    table {
        overflow: scroll;
        margin-top: 1rem;
        height: 10rem;
        border-collapse: collapse;
        width: 70rem;
        background-color: #E7E7E7;
        border-radius: 22px;
        text-align: left;
        thead {
            display: table;
            width: 100%;
            table-layout: fixed;
            th {
                color: #6A6A6A;
                padding: 0.5rem 1.5rem 0.5rem 2rem;
                &:first-child {
                    width: 13rem;
                }
                &:last-child {
                    padding-left: 2.5rem;
                }
                &:nth-child(2) {
                    width: 20rem;
                }
            }
        }
        tbody {
            @include scrollbars(5px, rgba(12, 124, 223, 0.673), pink);
            display: block;
            max-height: 390px;
            overflow-y: scroll;
            border: 1px solid #E7E7E7;
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
                border-top: 1px solid #E7E7E7;
                background-color: white;
                td {
                    font-size: 14px;
                    width: 100%;
                    padding: 0.5rem 2.2rem;
                    button {
                        padding: 0.6rem;
                        border: 2px solid #ABABAB;
                        border-radius: 12px;
                        transition: all 0.1s linear;
                        &:hover {
                            color: white;
                            background-color: #4361EE;
                            border: 2px solid #4361EE;
                        }
                    }
                    p {
                        font-weight: bold;
                        &:nth-child(2) {
                            color: #6A6A6A;
                            font-weight: normal;
                        }
                    }
                    &:first-child {
                        width: 13rem;
                    }
                    &:nth-child(2) {
                        width: 20rem;
                    }
                }
            }
        }
    }
}

.active {
    font-weight: bold;
    color: #4361EE;
}

.waiting {
    font-weight: bold;
    color: #F72585;
}

.cancel {
    font-weight: bold;
    color: rgba(255, 1, 1, 0.75);
}