.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 300px;
    padding-top: 30px;
}

@media (max-width: 500px) {
    .container {
        margin-bottom: 90px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        // margin-bottom: 250px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.bank-card {
    height: 33rem;
}