.months-label {
    display: block;
    font-weight: 600;
    margin-top: 30px;
}

.income-wrapper {
    padding-bottom: 50px;
}

.chart-wrapper {
    width: 70%;
}

@media (max-width: 500px) {
    .chart-wrapper {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .chart-wrapper {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .chart-wrapper {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .chart-wrapper {
        width: 70%;
    }
}