@use "src/global";
.month-picker-wrapper {
    // height: 270px;
    width: 70%;
    // margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    .month-label {
        font-family: global.$default-font;
        user-select: none;
    }
}

.arrow-left,
.arrow-right {
    cursor: pointer;
    padding: 5px;
}

@media (max-width: 500px) {
    .month-picker-wrapper {
        // height: 300px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .month-picker-wrapper {
        // height: 270px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .month-picker-wrapper {
        // height: 270px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .month-picker-wrapper {
        // height: 270px;
        width: 70%;
    }
}