@use "src/global";
@use "src/static/styles/animations";

#all-image-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: global.$white;
    animation: slide-in-bottom 0.2s ease-out;
    overflow-y: scroll;
    padding: 2em 7.35em;

    .close-album-button {
        position: absolute;
        top: 2.2em;
        left: 3em;
        padding: 0.2em 0.58em;
        border-radius: 50%;
        border: 1px solid global.$black;
        transition: all 0.1s linear;
        opacity: 0.6;

        .fa-xmark {
            color: global.$black;
        }

        &:hover {
            transform: translateX(12%);
            opacity: 1;
        }
    }

    &.no-scroll {
        overflow-y: hidden !important;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .image-section {
        padding-top: 3em;
        .heading {
            font-size: 1.4em;
            margin-bottom: 1em;
        }
        .image-item {
            position: relative;
            cursor: pointer;

            &::before {
                position: absolute;
                content: "";
                display: none;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.4);
                transition: all 0.2s linear;
            }
            &:hover::before {
                display: block;
            }
        }
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}
