.picker {
    font-size: 20px;
    .bath-picker {
        h4 {
            font-weight: bold
        }
        .bath-picker-button {
            margin-top: 1rem;
            width: 40rem;
            .picker-button {
                display: block;
                margin-bottom: 1.5rem;
                input {
                    display: none;
                }
                label {
                    text-align: center;
                    width: 15rem;
                    border: 1px solid #ABABAB;
                    padding: 1.5rem;
                    opacity: 0.6;
                    transition: all 0.2s;
                    border-radius: 15px;
                }
                input[type="radio"]:checked {
                    +label {
                        border-color: #4361EE;
                        opacity: 1;
                        color: #4361EE;
                    }
                }
                &:first-child {
                    margin-right: 2rem;
                }
                @media (min-width: 768px) {
                    display: inline-block;
                }
            }
        }
    }
    .price-picker {
        p {
            font-weight: bold;
        }
    }
}