@use "src/global";
#register {
    position: relative;
    z-index: 0;
    
    .left {
        position: fixed;
        top: 1em;
        bottom: 1em;
        border-radius: 1.6em;
        overflow-x: hidden;
    }

    .right {
        position: fixed;
        top: 1em;
        right: 1.5em;
        left: calc((100% / 3) + 3em);
        bottom: 1em;
        z-index: 1;

        .form::-webkit-scrollbar {
            display: none;
        }

        .nav-buttons {
            display: flex;
            gap: 1em;

            button {
                flex: 1 0 0;
                background: global.$main-color;
                color: global.$white;
                padding: 0.4em;
                border-radius: 1em;
                transition: all 0.2s linear;
                &.back {
                    background: global.$gray-500;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}